<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender 2024</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <style>
        .center-btn {
            
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">F1 2024 Race Calender</h1>
        <div class="d-flex justify-content-center mt-3">
            <a href="/" class="btn btn-dark" style="width: auto;">Home</a>
        </div>
        <div class="alert alert-success alert-dismissible mt-3" role="alert">
            <h4 class="alert-heading">Next Race: {{ next_race.raceName }}</h4>
            <p>Date: {{ next_race.date }}</p>
            <p>Circuit: {{ next_race.Circuit.circuitName }}</p>
            <p>Sri Lankan Time: {{ local_time }}</p>
            <hr>
            <a href={{ next_race.url }}>Click here for more information about the race</a>
        </div>
        <table class="table table-striped table-borderless mt-4">

            <thead class="table-dark">
                <tr>
                    <th>Round</th>
                    <th>Race Name</th>
                    <th>Date</th>
                    <th>Circuit</th>
                    <th>Location</th>
                    <th>Finished</th>
                </tr>
            </thead>

            <tbody>
                {% set today = date.today() %}
                {% for race in races %}
                    <tr>
                        {% set race_date = datetime.strptime(race.date, "%Y-%m-%d").date() %}
                        {% set difference = today - race_date %}
                        {% set is_finished = "✅" if difference.days > 0 else "🟥" %}

                        <td>{{ race.round }}</td>
                        <td><a href="/race/{{ race.round }}">{{ race.raceName }} </a></td>
                        <td>{{ race.date }}</td>
                        <td>{{ race.Circuit.circuitName }}</td>
                        <td>{{ race.Circuit.Location.locality }}, {{ race.Circuit.Location.country }}</td>
                        <td>{{ is_finished }}</td>
                    </tr>
                {% endfor %}


            </tbody>

        </table>

    </div>

    <h2 class="text-center mt-5">Track Locations</h2>
    <div class="mt-5" style="height: 60%; width: 1300px; margin: auto;">
        {{ map_html|safe }}
    </div>
    
</body>
</html>